# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: NL-Augmenter Tests

on:
  push
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m spacy download en_core_web_sm
        pip3 install ./
        if [ -f requirements.txt ]; then pip3 install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest -s --t=light --f=light
